<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= content %></p>

<% for (let i = 0; i < postData.length; i++) { %>
<h2><%= postData[i].title %></h2>
<p><%= postData[i].description %></p>
<% } %>
<%- include('partials/footer'); -%>